/* default setting */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*  */

ul li {
    list-style: none;
}

/* All anchor Tag */
a{
    display: inline-block;
    text-decoration: none;
    color: #960018;
    font-weight: 700;
    transition: all 0.5s ease-in-out;
}
a:hover{
    color: gold;
    text-decoration: underline;
    transform: scale(1);
}

body{
    background-color: black;
    color: rgb(255, 255, 255, 0.9);
}

/* nav/header */
header{
    width: 100%;
    height: 5rem;
    
    background-color: rgb(0, 0, 0, 0.9);
    border-bottom: 1px solid rgb(255, 215, 0, 0.4);
    color: white;
    position: sticky;
    top: 0;
    z-index: 10;
}

header nav{
    width: 95%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0.5rem;
}

header nav .desktop-nav{
    display: none;
}

header nav .logo{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    color: gold;
    font-weight: 700;


}
.logo span:first-child{
    width: 2rem;
    height: 2rem;
    background-color: #5c5345;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-size: 1.3rem;
}

.mobile .mobile-nav{
    position: absolute;
    right: 0;
    top: 100%;
    background-color: rgb(0, 0, 0, 0.7);
    border-top: 2px solid black;
    border-left: 1px solid rgb(255, 215, 0, 0.3);
    border-bottom:1px solid rgb(255, 215, 0, 0.3) ;
    padding: 2rem 3rem;
    width: 60%;
    max-width: 8rem;
    height: calc(60vh - 6.5rem);
    display: none;
    flex-direction: column;
    gap: 1rem;

}
/* .mobile .mobile-nav > li:hover{
    display: flex;
} */

.mobile i{
    color: gold;
    background-color: #5c5345;
    font-size: 1.7rem;
}
/* header .search{
    position: relative;
    background-color: black;
    display: flex;
    padding: 1rem;
    color: gold;
    width: calc(100% - 8rem);
    justify-content: center;

} */

/* Hero Section */
.hero{
    width: 100%;
    min-height: calc(100vh - 5rem);
    background-image: url(../images/167586.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    gap: 1rem;
    right: 0;
    color: rgb(255, 215, 0);
    
}
.hero-text-h2,
.hero h1 {
    z-index: 5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 90%;
    

}
.hero h1{
    color:#f1f1f1;
    font-size: 2.5rem;
    z-index: 5;
    
}

.hero p{
    color: gold;
    font-weight: 800;
    font-size: 1.3rem;
    z-index: 5;
    display: flex;
    justify-content: center;
}
.hero a{
    background-color: #5c5345;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    z-index: 5;
    margin-bottom: 2rem;
}
.hero a:hover{
    color: gold;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
}


/* The About Section */
#about{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1fr);
    align-items: center;
    line-height: 2;
    gap: 2rem;
}

.about-paragraph{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    text-align: center;
    gap: 1rem; 
    border-top: 2px solid #daa520;  
    padding: 1rem; 
}
.about-paragraph h2{
    font-size: 2.5rem;
    color: gold;
    margin: 2rem 0;
    padding: 2rem;
    border-radius: 8px;
}

.about-paragraph p{
    font-size: 0.9rem;
}

#about img{
    margin: 0 auto;
    width: 90%;
    min-height: calc(100vh-5rem);
}



/* media querry */
@media (min-width: 768px){
    /* header */

    .mobile {
        display: none;
    }
/* 
    header .desktop-nav,
    header nav > a{
        display: block;
    } */
    header nav .desktop-nav{
        display: flex;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }

    header nav{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }
}